body {
    font-family: Garamond;
}

h1 {
    color: black;
    margin-bottom: 0;
    margin-top: 0;
    text-align: center;
    font-size: 40px;
}

h3 {
    color: black;
    font-size: 20px;
    margin-top: 3px;
    text-align: center;
}

.robotlogo {
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.userlogo {
    float: right;
    width: 35px;
    height: 35px;
    margin-left: 10px;
}

#runtimebox {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#chatbox {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#userInput {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: 60px;
}

#textInput {
    width: 87%;
    border: none;
    border-bottom: 3px solid #009688;
    font-family: monospace;
    font-size: 17px;
}

#buttonInput {
    padding: 3px;
    font-family: monospace;
    font-size: 17px;
}

.userText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: right;
    line-height: 30px;
}

.userText span {
    background-color: #009688;
    padding: 10px;
    border-radius: 2px;
}

.botText {
    color: white;
    font-family: monospace;
    font-size: 17px;
    text-align: left;
    line-height: 30px;
}

.botText span {
    background-color: #EF5350;
    padding: 10px;
    border-radius: 2px;
}

#tidbit {
    position:absolute;
    bottom:0;
    right:0;
    width: 300px;
}


.select-bg{
    display:block;
    width:250px;
    margin:0 auto;
    line-height: 37px;
    font-size: 13px;
    border:1px #0f7fc7 solid ;
    box-sizing:border-box;
    cursor: pointer;
    position: relative;
}

.select-bg:after{
    content:' ';
    position: absolute;
    right:6px;
    top:50%;
    margin-top:-5px;
    width:0px;
      height:0px;
      border-left:10px solid transparent;
      border-right:10px solid transparent;
      border-top:10px solid #0f7fc7;
    font-size:0px;
    line-height:0px
}

.select-green {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
    border: 0 none;
    position: relative;
    padding: 0 0 0 5px;
    width: 100%;
    color:#0f7fc7;
    font-weight: bold;
    background: none;
    background-color: transparent;
    font-size: 15px;
    z-index: 99;
    overflow: hidden;
}
