<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <h1>Chatterbot Example</h1>
    <div class="select-bg" id="runtimebox">
      <select class="select-green" id="runtime">
        <option value="runc">--Please choose a runtime--</option>
        <option value="runc">runc</option>
        <option value="kata">Kata</option>
        <option value="gvisor">gVisor</option>
      </select>
    </div>
    <div>
      <div id="chatbox">
        <p class="botText"> <img class="robotlogo" src="/static/robot.svg"></img> <span>Hi! I'm Chatterbot.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script>
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><img class="userlogo" src="/static/user.png"/><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("http://chatterbot-"+document.getElementById("runtime").value+".default.knative.example.com/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><img class="robotlogo" src="/static/robot.svg"/><span>' + data + '</span></p>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          });
        }
        $("#textInput").keypress(function(e) {
            if ((e.which == 13) && document.getElementById("textInput").value != "" ){
                getBotResponse();
            }
        });
        $("#buttonInput").click(function() {
            if (document.getElementById("textInput").value != "") {
                getBotResponse();
            }
        })
      </script>
    </div>
  </body>
</html>
